/*classes*/
.button{
    font-family: 'Varela Round', sans-serif;
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10%;
}

.button.principal{
    margin: 40px 60px;
    margin-bottom: 5px;

}
.button.principal, .button.editar, .button.salvar{
    background-color: rgb(59, 177, 131);
}

/*.button.editar{
    background-color: rgb(168, 92, 240);
}*/

.button.excluir, .button.cancelar{
    background-color: rgb(214, 82, 115);
}

.button.adicionar{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid rgb(145, 145, 145);
}


.button.principal:hover, .button.editar:hover, .button.salvar:hover{
    background-color: rgb(161, 224, 201);
}

.button.excluir:hover, .button.cancelar:hover{
    background-color: rgb(233, 151, 172);
}

.button.adicionar:hover{
    background-color: var(--secundary-color);
    color: black;
}
@media(max-width: 480px){
    .button.mobile{
        color:transparent;
        font-size: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 90vh;
        left: 80vw;
    }
    .button.mobile::before{
        content: "+";
        color: white;
        font-size: 2rem;
        width: 100%;
        height: 100%;
    }
}