classes
.records{
    width: 100%;
    user-select: none;
    text-align: center;
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 12px;
    border-radius: 5%;
}

.records td{
    height: 50px;
    padding: 0 12px;
    border-radius: 5%;
}

.records th:last-child,.records td:last-child{
    padding: 0;
    min-width: 150px;
    text-align: center;
}

.records tr:hover{
    transition: 1s ease;
    background-color: var(--secundary-color);
    
}

.finalizada{
    color: white;
    background-color:  rgb(59, 177, 131);;
}

.atribuida, .media{
    color: white;
    background-color:  rgb(238, 215, 82);;
}

@media(max-width:480px){
    .records{
        border-spacing: 5px;
    }

    .records thead{
        display: none;
    }

    .records tr{
        box-shadow: 0 1px 3px var(--shadow-color);
    }

    .records td{
        margin: 10px 0;
    }

    .records td:not(:first-child){
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records tr:hover{
        background-color: inherit;
    }
}